@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Manrope:wght@200..800&family=MonteCarlo&display=swap');
@import url( "../font/stylesheet.css");

body
{
	backgroundcolor:rgb(255, 153, 153);
	color:rgba(14,14,14,1.00);
	font-family: "Manrope", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;	
	margin: 0	
}
h1{	font-size: 2.5rem; 	}
h2{ font-size: 2rem}
h3{ font-size: 1.5rem}
h4{font-size: 1.2rem}
p{ line-height: 1.5rem}
h1,h2,h3 
{
	font-family:UTM Cookies,"Literata",Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 600
}
a{ color:	rgb(204, 153, 255);
text-decoration: none}
a:hover{ color:rgb(153, 112, 194)}
.font-dacbiet
{
	font-family: "MonteCarlo", cursive;
  	font-weight: 800;
	font-size: 2rem;
	
}
.font-banhquy
{
	font-family: UTM Alba Matter;
}
a{color:rgba(245,92,94,1.00);
text-decoration: none}
a:hover{color:rgba(102,61,136,1.00)}
.ss-icon i { margin: 10px}



/*---- color style----------*/
.bg-primary { background-color: rgb(232, 125, 161)}
.bg-primary-5 { background-color: rgba(248,206,206,0.05)}
.bg-primary-10 { background-color: rgba(240,188,185,1.00)}
.bg-light{background:rgba(239,161,162,1.00)}
.bg-dark{background: rgba(168,68,69,1.00)}
a.text-primary:hover{ color: rgba(68,130,98,1.00)}
.text-light{color: rgba(227,77,105,1.00) }
.text-dark {color: rgba(167,15,18,1.00)}
/*--- style cho button - nut mau chinh----*/
.btn-primary
{
	background-color: rgba(252,132,134,1.00);
	color:rgba(115,87,155,1.00);
	text-decoration: none;
	padding:10px 25px ;
	border-radius: 35px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 800
		
}
.btn-primary:hover { background-color: rgba(170,154,255,1.00);
	background: linear-gradient(90deg,#ddd6f3, 
#faaca8
)


}
/*--- ----he thong luoi phone - mobile first phone truoc--------------*/
*{ box-sizing: border-box}
.col-1 { width: 8.33333%}
.col-2 { width: 16.66667%}
.col-3 { width: 25%}
.col-4 { width: 33.33333%}
.col-5 { width:  41.66667%}
.col-6 { width:  50%}
.col-7 { width:  58.33333%}
.col-8 { width:  66.66667%}
.col-9 { width: 75%}
.col-10 { width:  83.33333%}
.col-11 { width:  91.66667%}
.col-12 { width: 100%}
/*-- he thong 12 cột medium cho thiết bị loại trung (tablet) ipad*/
@media (min-width:600px)
{
	.col-md-1 { width: 8.33333%}
.col-md-2 { width: 16.66667%}
.col-md-3 { width: 25%}
.col-md-4 { width: 33.33333%}
.col-md-5 { width:  41.66667%}
.col-md-6 { width:  50%}
.col-md-7 { width:  58.33333%}
.col-md-8 { width:  66.66667%}
.col-md-9 { width: 75%}
.col-md-10 { width:  83.33333%}
.col-md-11 { width:  91.66667%}
.col-md-12 { width: 100%}
}
/*-- hệ thống cột lớn large cho thiết bị từ 1000px trở lên ( pc)*/
@media (min-width:1000px)
{
	.col-lg-1 { width: 8.33333%}
.col-lg-2 { width: 16.66667%}
.col-lg-3 { width: 25%}
.col-lg-4 { width: 33.33333%}
.col-lg-5 { width:  41.66667%}
.col-lg-6 { width:  50%}
.col-lg-7 { width:  58.33333%}
.col-lg-8 { width:  66.66667%}
.col-lg-9 { width: 75%}
.col-lg-10 { width:  83.33333%}
.col-lg-11 { width:  91.66667%}
.col-lg-12 { width: 100%}
	
}
[class*="col-"]
{
	border:0.5px solid red;
	padding: 15px
}

.row
{
	display: flex;
	flex-wrap: wrap
}
.container{	width: 100%;}
@media (min-width:600px)
{
	.container
	{	
		width: 80%;
		margin: auto/* lệnh này đẩy box 80% này vào giữa*/
	}
}
.img-100
{
 max-width: 100%;
	height: auto}
.text-center{text-align: center}
/*-------- spacing style -------*/
.mx-auto{margin-left: auto; margin-right: auto}
.mt-1{ margin-top: 4px}
.mt-2{ margin-top: 8px}
.mt-3{ margin-top: 12px}
.mt-4{ margin-top: 16px}
.mt-5{ margin-top: 24px}
.mt-6{ margin-top: 72px}
/*------------------*/
.mb-1{ margin-bottom: 4px}
.mb-2{ margin-bottom: 8px}
.mb-3{ margin-bottom: 12px}
.mb-4{ margin-bottom: 16px}
.mb-5{ margin-bottom: 24px}
.mb-6{ margin-bottom: 72px}


/*---- style cho navbar*/
nav{ padding: 10px 0}
nav .container{
border: 1px ;
position: relative
}
nav .nav-brand
{font-size: 1.2rem;
font-weight: 600;
margin-left: 10px;
background: linear-gradient(to right,rgb(255, 204, 204) , rgba(240,151,152,1.00));
 }
nav .btn-toggle
{
    position: absolute;
    right: 5px;
    top: 0;
	cursor: pointer;
	background:#DD7856;
	border: 1px solid #000000;
	font-size: 1.2rem;
	font-weight: bold
}
#Menu{ margin-top: 10px}
#Menu ul
{
list-style: none;
	margin: 0;
	padding: 0
}
#Menu ul li { position: relative}
#Menu ul li a
{
padding: 5px 10px;
display: block;
border-bottom: 1px solid	
}
#Menu { display: none}
#dropdown-Menu a{margin-left: 20px}

#dropdown-Menu{display: none}
@media(min-width:992px)
{#Menu { display: block !important}
	nav .btn-toggle{display: none}	
	nav .container, #Menu ul
	{
	display: flex;
		justify-content: space-between;
		align-items: center	
	}
	#Menu ul li a
	{border: none}
}
#dropdown-Menu
{position: absolute; top: 100%; left: 0;
flex-direction: column;
width: 200px; background: #E8AEAF;
justify-content: flex-start;
align-items: flex-start;
text-align: left

}

nav #dropdown-Menu{display: none}
#dropdown-Menu{
position: absolute;
	top: 100%;
	left: 0;
	flex-direction: column;
	width: 200px;
	background: #F0B7B8 ;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	display: none
	
}
#dropdown-Menu a{ margin-left: 0px}
.td-trang{max-height: 200px;
padding: 40px 0;
background:rgba(247,166,166,1.00);
display: flex;
justify-content: center;
align-items: center}
.td-trang h1,.td-trang p,.td-trang a{margin: 0;}
.td-trang a:hover{
background: rgba(227,63,99,1.00);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;	
	
}
footer .i-ss a{margin-right:5px}

/*------- day cac thanh pham trong 1 flex theo chieu doc*/
.align-item-center{ align-items: center}
.align-item-end{ align-items: flex-end}
/*------- day cac thanh pha trong 1 flex theo chieu ngang*/
.justify-center{ justify-content: center}
.justify-end{ justify-content: flex-end}
.justify-between{ justify-content: space-between}
.flex-row-reverse{ flex-direction: row-reverse}
#testimonial .img-avata
{width: 100px; height: 100px;
border: 3px solid #5AAD90;
border-radius: 50%;
display: block; margin: auto}

/*-------- spacing style padding-------*/
.p-0{ padding: 0}
.px-40{ padding: 0 40px}
.py-40{ padding: 40px 0}
.text-right{ text-align: right}

.progress-bar
{width: 100%; height: 10px;
	background:rgba(118,109,109,1.00); 
	border-radius: 10px;}
.progress
{
	height: 100%;
	border-radius: 10px 0 0 10px;
	position: relative;
	
}
.progress span
{
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: -19px;
	font-weight: 800
}
#project img
{
	height: 250px;
	transition: all 0.5s
}
#project img:hover
{transform: scale(1.1) rotate(5deg)}

